{% extends "base.html" %}

{% block title %}Add Dogs{% endblock %}

{% block head %}<h3>Add Dogs!</h3>{% endblock %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
		Name: <input type="text" name="name"><br><br>
		Breed: <input type="text" name="breed"><br><br>
		Age: <input type="text" name="age"><br><br>
		Weight: <input type="text" name="weight"><br><br>
		Details: <input type="text" name="details"><br><br>
		<input type="submit" value="Add">
	</form>
{% endblock %}

{% block footer %}
	<hr>
	<a href="{% url 'dogs:view_dogs' %}">Back to viewing dogs</a>
{% endblock %}