{% extends "base.html" %}

{% block title %}Add Dogs{% endblock %}

{% block head %}<h3>Successfully Added Dog!</h3>{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
	<hr>
	<a href="{% url 'dogs:view_dogs' %}">Back to viewing dogs</a>
{% endblock %}