{% extends "base.html" %}

{% block title %}Dog Profile{% endblock %}

{% block head %}{% endblock %}

{% block content %}
	<table>
	{% for list in dog %}
		{% for attribute in list.get_all %}
			<tr><td>{{ attribute }}</td></tr>
		{% endfor %}
	{% endfor %}
	</table>
{% endblock %}

{% block footer %}
	<hr>
	<a href="{% url 'dogs:view_dogs' %}">View dogs</a>
{% endblock %}