{% extends "base.html" %}

{% block title %}View Dogs{% endblock %}

{% block head %}<h3>Dogs!</h3>{% endblock %}

{% block content %}
	<table>
	{% for dog in dogs %}
		<td><a href="{% url 'dogs:dog_profile' dognum=dog.id %}">{{ dog.name }}</a></td>
	{% endfor %}
	</table>
{% endblock %}

{% block footer %}
	<hr>
	<a href="{% url 'dogs:add_dog' %}">Add more dogs</a>
{% endblock %}